/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input:focus, button:focus{
  outline: none;
}

/*Splash Page Styles*/
.splash-gradient {
  background-color: #F037A5;
  background: linear-gradient(#F037A5 -60%, #FAE62D 140%) no-repeat;
  height: 125%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.fixed-header {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  right: 0;
  left: 0;
}
.app-nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.app-img {
 width: 40px;
 height: 40px;
}

.app-title, .footer-title, .footer-title2 {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-weight: 600;
  font-size: 145%;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.nav-buttons {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #D9DADC;
  font-size: 16px;
  font-weight: 700;
  padding-right: 40px;
}

.butt1:hover{
  color: #1DB954;
  transition: 0.5s;
}
.butt2:hover{
  color: #1DB954;
  transition: 0.5s;
}

.center-greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 270px;
  z-index: 1;
}

.first-greeting {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: -0.04em;
  color: white;
  font-size: 80px;
}

.second-greeting {
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: .5em 0 1em;
}

.webplayer-button {
  color: #FFF;
  background-color: #1DB954;
  padding: 16px 48px 18px;
  border-radius: 500px;
  letter-spacing: 2px;
  line-height: 1;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-width: 0;
  font-weight: 700;
  margin-top: 16px;
  transition: 0.5s;
}

.webplayer-button:hover {
  background-color: #1ED760;
}


.content {
  position: relative;
}


.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0
}

.footer {
  position: relative;
  background-color: black;
  min-height: 150px;
}

.bubbles {
  background: url("https://www.scdn.co/i/home/hero-burst.svg") no-repeat;
  width: 1610px;
  height: 1523px;
  background-position: top -410px center;
}

.footer-title, .footer-title2 {
  display: flex;
  align-items: center;
}

.logo2 {
  display: flex;
  flex-direction: column;
}

.footer-title2 {
  padding: 5px;
  font-size: 15px;
  letter-spacing: 1px;
}

.splash-footer-items {
  display: flex;
  padding-left: 61px;
  padding-top: 40px;
}

input::-webkit-input-placeholder {
  transition: 0.5s
}