.collection-container {
  margin-left: 235px;
  padding: 20px;
}

.playlist-show-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 130px;
}