.modal-content-container {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.modal-header {
  margin: 20px;
  font-size: 48px;
  letter-spacing: 1px;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.88);
  text-align: center;
  color: white;
}

.hidden {
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}