.session-container {
    max-width: 500px;
    margin: 0 auto;
}

.form-container {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 0em;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-container {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;
    align-items: center;
} 

.login-container {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;  
    align-items: center;
}

.username-input {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
    box-sizing: border-box;
}

.username, .password, .button-containers, .session-button, .session-q1, .session-q2, .sign-up, .sign-in{
    padding: 7px;
}
.password-input {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
    box-sizing: border-box;
}

.password-input-error, .username-input-error {
    border: 1px solid red;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border-radius: 0;
    box-sizing: border-box;
}

.errors {
    display: flex;
}

.button-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.session-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d9dadc;
}

.session-img {
    width: 50px;
    height: 50px;
}

.session-title {
    color: black;
    font-weight: 600;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
}

.session-button {
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    font-weight: 725;
    padding: 16px 48px 18px;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 1px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    color: #fff;
    background-color: #1db954;
}

.demo {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 1px;
    min-width: 460px;
    text-transform: uppercase;
    white-space: normal;
    color: #fff;
    background-color: #3B5998;
    margin: 19px;
}



.sign-up, .sign-in {
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 1px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
}

.session-button:hover {
    background-color: #1ED760;
}

.sign-up:hover, .sign-in:hover {
    background-color: #616467;
    color: whitesmoke;
}

.demo:hover {
    background-color: rgb(102, 130, 190);
}

.session-margin {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.errors {
    color: red;
    font-weight: 600;
    font-size: 90%;
    font-family: 'Montserrat', sans-serif;
    padding: 7px;
}

input[type=text]:focus, input[type=password]:focus {
  box-shadow: (0 0 5px rgb(25, 55, 63));
  border: 1px solid rgb(41, 83, 95);
}
